.D_Wrapper .D_Content {
  width: auto;
  margin: calc(20px + var(--HeaderHeight))
    calc(16px + 26px + var(--WidthSideBar)) 0px 26px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--WidthBoxItem), 1fr));
  gap: 10px;
}

.D_Content .D_ContentItem {
  box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 25%);
  background-color: #ffffff;
  border-radius: 15px;
  height: var(--HeightBoxItem);
  padding: 16px;
  position: relative;
  min-width: var(--WidthBoxItem);
  max-width: calc(var(--WidthBoxItem) + 100px);
  overflow: hidden;
  font-size: var(--FontSizeBoxItem);
  cursor: pointer;
  transition: 0.3s;
}

.D_Content .D_ContentItem:hover {
  box-shadow: 0px 10px 20px -8px rgb(0 0 0 / 25%);
  transform: scale(102%);
  transition: 0.3s;
}

.D_Content .D_ItemImage::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 300px;
  transform: rotate(30deg);
  background-color: #ffffff54;
  top: -300px;
  left: -100px;
  transition: 0.3s;
  filter: blur(8px);
  z-index: 2000;
}

.D_Content .D_ContentItem:hover .D_ItemImage::before {
  content: '';
  top: -240px;
}

.D_Content .D_ContentItem .D_ItemImage,
.D_Content .D_ContentItem .D_ItemImageDontScale {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.D_Content .D_ContentItem .D_ItemImageDontScale img {
  width: 70%;
}

.D_Content .D_ContentItem .D_ItemImage img {
  width: 100%;
  transform: scale(115%);
  transition: 0.3s;
}

.D_Content .D_ContentItem:hover .D_ItemImage img {
  transform: scale(100%);
  transition: 0.3s;
}

.D_ItemTitle {
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  height: 26px;
  text-align: right;
  color: #252525;
  width: 66%;
  overflow: hidden;
}

.D_ItemDescription {
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  text-align: right;
  color: #707070;
  width: 66%;
  overflow: hidden;
  /* margin-top: 10px; */
}

.D_ProductBottomBox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 15px 10px;
}

.D_ProductBottomSubBox {
  position: relative;
}

.D_ItemPrice {
  font-family: var(--BaseFontFamily);
  width: 66%;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #252525;
  /* margin-top: 5px; */
}

.D_ItemCreateTime {
  /* margin-top: 17px; */
  font-family: var(--BaseFontFamily);
  width: fit-content;
  max-width: 200px;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  text-align: right;
  color: #707070;
}

.D_ItemImage,
.D_ItemImageDontScale {
  position: absolute;
  width: var(--HeightBoxItem);
  height: var(--HeightBoxItem);
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
}

.D_ItemImageDontScale {
  /* background-color: #70707017; */
}

.D_ItemSlotBox {
  position: absolute;
  bottom: 0px;
  left: 165px;
  display: flex;
  gap: 5px;
  align-items: center;
  z-index: 12;
  text-align: left;
  direction: rtl;
  font-family: var(--BaseFontFamily);
}

.D_ItemSlotBox div:first-child {
  border: none;
}

.D_ItemSlotBox .D_ItemAvatars {
  display: inline-block;
  direction: ltr;
  margin-right: 12px;
}

.D_ItemSlotBox .D_ItemSlotNumber {
  padding: 2px 6px;
  background: #d9d9d9;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  color: #707070;
  margin-bottom: 1px;
  width: unset;
  height: unset;
}

.D_ItemSlotBox .D_ItemAvatars div {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  background-color: #fff;
  margin-right: -12px;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
}

.D_ItemSlotBox .D_ItemAvatars div img {
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
