.D_Wrapper .D_Header {
  height: var(--HeaderHeight);
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0 26px;
  z-index: 100;
  box-shadow: 0px 0px 20px -10px rgb(0 0 0 / 25%);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: stretch;
}

.D_Header .D_RightHeader {
  float: right;
}

.D_Header .D_LeftHeader {
  float: left;
}

.D_Header .D_HeaderLogo svg {
  height: 48px;
  vertical-align: middle;
  width: 48px;
}

.D_Header .D_ContentHeader {
  direction: ltr;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto auto;
}

.D_Header .D_AvatarHeader {
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.D_Header .D_AvatarHeader img {
  width: 100%;
}

.D_Header .D_IconsHeader {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}

.D_Header .D_IconsHeader svg {
  width: 20px;
  height: 20px;
}

.D_Header .D_RightHeader {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto;
}

.D_Header .D_SearchBarHeader {
  background-color: #f0f0f1;
  border-radius: 15px;
  padding: 0px 12px;
  width: 440px;
  height: 46px;
  display: grid;
  justify-content: start;
  align-items: center;
  direction: rtl;
  grid-template-columns: auto auto;
  overflow: hidden;
  gap: 10px;
  transition: width 0.3s;
  cursor: pointer;
}

.D_Header .D_SearchBarHeader:has(input:focus) {
  width: 540px;
  transition: width 0.3s;
}

.D_IconsHeader .NotificationIcon,
.D_IconsHeader .SettingIcon,
.D_IconsHeader .HelpIcon,
.D_IconsHeader .CartIcon {
  cursor: pointer;
  transition: all 0.3s;
}
.ActiveMarkIcon {
  position: relative;
}
.ActiveMarkIcon::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  z-index: 2000;
  border-radius: 50%;
  background-color: #a62626;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.D_Header .D_SearchBarHeader input {
  background-color: unset;
  border: unset;
  outline: unset;
  width: 480px;
  height: 100%;
  font-family: var(--BaseFontFamily);
  font-size: 16px;
  color: #252525;
  transition: width 0.3s;
}

.D_Header .D_SearchBarHeader input::placeholder {
  color: rgb(112 112 112 / 50%);
}

.D_Header .D_SearchBarHeader svg path {
  fill: #707070;
}

.D_Header .D_IconModalBox {
  position: absolute;
  left: 100px;
  top: calc(var(--HeaderHeight) - 5px);
  z-index: 9999;
  background: #ffffff;
  width: 400px;
  height: 480px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px -10px rgb(0 0 0 / 60%);
  padding: 0px;
  direction: rtl;
  display: none;
}

.D_Header .D_IconModalHeaderBox {
  font-family: var(--BaseFontFamily);
  padding: 16px 24px;
  border-bottom: 1px solid #ebe9f1;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
.D_Header .D_IconModalHeaderBox span {
  font-size: 20px;
  line-height: 28px;
}

.D_Header .D_IconModalHeaderBox span:last-child {
  background-color: #a62626;
  padding: 0px 14px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 14px;
  user-select: none;
}

.D_Header .D_IconModalContentSubBox {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 10px 18px;
  position: relative;
}

.D_Header .D_IconModalContentSubBox .ContentAvatar {
  width: 52px;
  border-radius: 5px;
  overflow: hidden;
}

.D_Header .D_IconModalContentSubBox .ContentAvatar img {
  width: 100%;
}

.D_Header .D_IconModalContentSubBox .DeleteIcon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.D_Header .D_IconModalContentSubBox .DeleteIcon svg {
  width: 14px;
  height: 14px;
}

.D_Header .ContentTitleAndDescription span {
  color: #252525;
  font-size: 14px;
}

.D_Header .ContentTitleAndDescription p {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #707070;
}

.D_Header .ContentInputBox {
  position: relative;
}

.D_Header .ContentInputBox input {
  border-radius: 5px;
  background-color: #eeeeee;
  color: #707070;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  outline: none;
  border: none;
  width: 52px;
  height: 24px;
  padding: 0px 14px;
}

/* Hide Arrows From Input Number */
/* Chrome, Safari, Edge, Opera, Firefox */
.D_Header .ContentInputBox input::-webkit-outer-spin-button,
.D_Header .ContentInputBox input::-webkit-inner-spin-button,
.D_Header .ContentInputBox input[type='number'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.D_Header .ContentInputBox .InputplusAndMinusButton {
  background-color: #a62626;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(50%, -50%);
}

.D_Header .ContentInputBox .LeftInputButton {
  right: unset;
  left: 2px;
  transform: translate(-50%, -50%);
}

.D_Header .ContentInputBox .InputplusAndMinusButton svg {
  width: 14px;
  height: 14px;
}

.D_Header .ContentPriceBox {
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  font-family: var(--BaseFontFamily);
}

.D_Header .D_IconModalFooterBox {
  /* height: 90px; */
  border-top: 1px solid #ebe9f1;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px 20px;
}

.D_Header .D_IconModalFooterBox .D_IconModalFooterTitleBox {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px 8px;
}
.D_Header .D_IconModalFooterBox .D_IconModalFooterTitleBox span {
  font-size: 17px;
  line-height: 20px;
  font-family: var(--BaseFontFamily);
  color: #707070;
}
.D_Header .D_IconModalFooterBox .D_IconModalFooterTitleBox span:last-child {
  color: #a62626;
}

.D_Header .D_IconModalFooterBox .D_IconModalFooterButton {
  cursor: pointer;
  background-color: #a62626;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.D_Header .D_ProfileModalSubBox {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  position: absolute;
  width: 378px;
  height: 313px;
  left: 28px;
  top: 60px;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 4px;
}

.D_Header .D_ProfileModalSubBox.ActiveProfileModal {
  display: flex;
}

.D_Header .D_ProfileModalSubBox .ClientInformationBox {
  display: flex;
  align-items: center;
  column-gap: 16px;
  position: relative;
  direction: ltr;
  width: 100%;
}

.D_Header .D_ProfileModalSubBox .ClientInformationBox .MenuIconBox {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  cursor: pointer;
}

.D_Header .D_ProfileModalSubBox .ClientInformationBox .ClientAvatarBox {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #93c5fd;
}

.D_Header .D_ProfileModalSubBox .ClientInformationBox .ClientAvatarBox img {
  width: 100%;
}

.D_Header
  .D_ProfileModalSubBox
  .ClientInformationBox
  .ClientUsernameInformation {
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #252525;
}

.D_Header
  .D_ProfileModalSubBox
  .ClientInformationBox
  .ClientUsernameInformation
  .ClientPermissionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 12px;
  width: min-content;
  background: rgba(112, 112, 112, 0.25);
  border-radius: 25px;
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #252525;
}

.D_Header .D_ProfileModalSubBox .ChangeClientInfoBox {
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  color: #475569;
  width: 100%;
}

.D_Header .D_ProfileModalSubBox .ChangeClientInfoBox label {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  position: relative;
}

.D_Header .D_ProfileModalSubBox .ChangeClientInfoBox input {
  outline: none;
  border: none;
  background-color: unset;
  margin-right: 10px;
  font-family: var(--BaseFontFamily);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #64748b;
  width: 250px;
}

.D_Header
  .D_ProfileModalSubBox
  .ChangeClientInfoBox
  input.ActiveInputForEditingInformation {
  color: #252525;
}

.D_Header .D_ProfileModalSubBox .ChangeClientInfoBox .EditIconBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.D_Header .D_ProfileModalSubBox .ChangeClientInfoBox .EditIconBox svg path {
  fill: #707070;
  transition: 0.3s;
}

.D_Header
  .D_ProfileModalSubBox
  .ChangeClientInfoBox
  .EditIconBox:hover
  svg
  path {
  fill: #252525;
  transition: 0.3s;
}

.D_Header .D_ProfileModalSubBox .LogOutButtonBox {
  position: absolute;
  background: #a62626;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  bottom: 20px;
  left: 20px;
  color: #ffffff;
  font-family: var(--BaseFontFamily);
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.D_Header .D_ProfileModalSubBox .LogOutButtonBox:hover {
  box-shadow: 0 8px 25px -8px #a62626;
  transition: box-shadow 0.3s;
}
